.toggles{
  margin: 0px auto;
  width: fit-content;
  margin-top: 5px;
}
  
.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
    
.toggle-slot {
  position: relative;
  height: 1em;
  width: 1.8em;
  border: 2px solid #121212;
  border-radius: 10em;
  background-color: #FFFFFF;
  transition: background-color 250ms;
}
    
.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #212121;
  border: 2px solid #F4F4F4;
}
    
.toggle-button {
  transform: translate(0.8em, -0.13em);
  position: absolute;
  height: 0.95em;
  width: 0.95em;
  border-radius: 50%;
  background-color: #212121;
  box-shadow: inset 0px 0px 0px 0.1em #121212;
  transition: background-color 250ms, border-color 250ms, transform 500ms;
}
    
.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #212121;
  box-shadow: inset 0px 0px 0px 0.75em white;
  transform: translate(-0.17em, -0.12em);
}
    
.sun-icon {
  position: absolute;
  height: 0.5em;
  width: 0.5em;
  color: #000;
}
    
.sun-icon-wrapper {
  position: absolute;
  height: 1em;
  width: 1em;
  opacity: 1;
  transform: translate(-0.35em, 0.08em) rotate(2deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}
    
.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(-0.35em, 0.08em) rotate(0deg);
}
    
.moon-icon {
  position: absolute;
  height: 0.5em;
  width: 0.5em;
  color: white;
}
    
.moon-icon-wrapper {
  position: absolute;
  height: 1em;
  width: 1em;
  opacity: 0;
  transform: translate(0.50em, 0.15em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
}
    
.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(0.50em, 0.15em) rotate(-15deg);
}
