@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: linear 450ms ease-in-out;
}

.container{
  text-align: center;
  padding: 20px 20%;
  position: relative;
  transition: all 400ms ease-in-out
}

.light-mode{
  background-color: #F4F4F4;
  color: #121212;
}

.dark-mode{
  background-color: #212121;
  color: #FFF;
}

.light-mode a{
  color: #121212;
}

.dark-mode a{
  color: #F4F4F4;
}

a{
  text-decoration: none;
}

h2{
  border-bottom: 2px solid #121212;
  width: fit-content;
}

.dark-mode h2{
  border-bottom: 2px solid #FFF;
}

nav{
  position: relative;
}

nav h1{
  font-size: 1.6em;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}

.resume-header{
  margin-top: 25px;
}

.resume-header img{
  width: 90%;
}

.resume{
  text-align: left;
  font-size: 0.9em;
  padding: 30px 50px;
  display: flex;
  padding-bottom: 100px;
  justify-content: space-between;
}

ul{
  padding-left: 15px;
}

.resume-content-dark{
  margin: -10px auto;
  margin-bottom: 25px;
  width: 90%;
  background-color: #333;
}

.resume-content-light{
  margin: -10px auto;
  margin-bottom: 25px;
  width: 90%;
  background-color: #FFF;
}

.small-container a{
  color: #0275aa;
  text-decoration: underline;
}

.dark-mode .small-container ul li{
  color: #DDD;
}

.small-container span{
  color: #FC7575;
}

.right{
  width: 350px;
}

.download-resume{
  width: fit-content;
  margin: 0px 47px 50px auto;
}

.download-resume span{
  font-family: 'Montserrat', sans-serif;
}

.button-resume{
  border: none;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #40E0D0;
}
.button-resume:hover{
  background-color: aqua;
}

hr{
  border: none;
}
.footer{
  background-color: #121212;
  color: #F4F4F4;
  text-align: center;
  padding: 25px;
  padding-bottom: 15px;
}

.footer img{
  width: 175px;
}

.heart{
  color: #FF0000;
}

.twitter, .github, .linkedin {
  font-size: 2em;
  padding: 5px;
}

.github{
  color: #F4F4F4;
}

.twitter{
  color: #00ACEE;
  position: relative;
  z-index: 2;
}

.twitter__{
  position: relative;
}

.twitter__:before{
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #F4F4F4;
  z-index: 1;
  top: -8px;
  left: 8.5px;
}

.linkedin{
  color: #0E76A8;
  position: relative;
  z-index: 2;
}

.linkedin__{
  position: relative;
}

.linkedin__:before{
  position: absolute;
  content: "";
  width: 15px;
  height: 17px;
  background-color: #F4F4F4;
  z-index: 1;
  top: -8px;
  left: 8.5px;
}


@media only screen and (max-width: 1200px) {
  .container{
    padding: 20px 5%;
  }
}

@media only screen and (max-width: 900px) {
  .container{
    padding: 20px 10px;
  }
  h2{
    font-size: 1.2em;
  }
  .small-container ul li{
    font-size: 0.8em;
  }
  .right{
    width: auto;
    margin-left: 30px;
  }
}

@media only screen and (max-width: 750px) {
  .container{
    padding: 20px 5px;
  }
  .resume{
    display: block;
    padding: 20px 32px;
  }
  .right{
    margin: auto;
  }
  .download-resume{
    margin: auto;
  }
  .small-container ul li{
    word-break: break-all;
  }
  .footer img{
    width: 100px;
  }
  .footer p{
    font-size: 0.65em;
  }
  .download-resume span{
    font-size: 0.9em;
  }
}